:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --blue-gray: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--light-gray);
  font-family: 'Outfit', sans-serif;
}

h1 {
  color: var(--dark-blue);

  font-size: 20px;
  font-weight: bold;

  text-align: center;
  margin: 1rem 0;
}

p {
  color: var(--blue-gray);

  font-size: 15px;
  text-align: center;
  margin: 1rem 0;
}

.card {
  padding: 1rem;
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  max-width: 18rem;

  border-radius: 12px;
}

.card img {
  width: 16rem;

  display: block;
  height: auto;

  border-radius: 12px;
}
